@use '_mixins'
body
    background-color: #000
    color: #fff
/* contenedor calculadora */
.conteCalculadora
    display: flex
    flex-direction: column
    margin: auto
    width: 400px
    height: 250px
/* numeros */
.conteNumeros
    display: flex
    &__itemNumero
        @include mixins.botonesCalculadora(#ff7e7e)
        &:hover
            background-color: red
/* operadores */
.conteOperadores
    display: flex
    &__itemOperador
        @include mixins.botonesCalculadora(#6d8c44)
        &:hover
            background-color: green
/* igual (=) */
.valorFinal
    @include mixins.botonesCalculadora(#454545)
    &:hover
        background-color: #000
/* pantalla */
.pantalla
    height: 40%
    font-size: 1.5rem
    padding: 10px
    background-color: #2e2e2e
.pantalla2
    height: 60%
    font-size: 3rem
    padding: 5px 10px
